#charts.row
  .col-12
    h1= 'Statistics'
  .chart.col.col-sm-6.col-lg-3
    h4= 'Text Editors'
    canvas#editors(width="400", height="400")
  .chart.col.col-sm-6.col-lg-3
    h4= 'Operating Systems'
    canvas#os(width='400', height='400')
  .chart.col.col-sm-6.col-lg-3
    h4= 'Favorite Animals'
    canvas#animal(width='400', height='400')
  .chart.col.col-sm-6.col-lg-3
    h4= 'Gender'
    canvas#gender(width='400', height='400')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  script(src='public/js/charts.js')