#charts.row
  .col-12
    h1= 'Statistics'
  .percentage.col.col-sm-4
    .percent= '29%'
    ='Native Tennesseans'
  .percentage.col.col-sm-4
    .percent= '50%'
    ='Professional Musicians'
  .percentage.col.col-sm-4
    .percent= '63%'
    ='Take 5 Fans'
  .chart.col.col-sm-6.col-lg-3
    h4= 'Text Editors'
    canvas#editors(width="400", height="400")
  .chart.col.col-sm-6.col-lg-3
    h4= 'Operating Systems'
    canvas#os(width='400', height='400')
  .chart.col.col-sm-6.col-lg-3
    h4= 'Favorite Animals'
    canvas#animal(width='400', height='400')
  .chart.col.col-sm-6.col-lg-3
    h4= 'Gender'
    canvas#gender(width='400', height='400')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  script(src='public/js/charts.js')