each student in students
  .student
    if student
      .imgs(data-toggle='modal', data-target='#'+student.name.split(" ")[0])
        img(src=student.img+'1.jpg')
        img(src=student.img+'2.jpg')
      h4= student.name
      .modal.fade(tabindex='-1', role='dialog', id=student.name.split(" ")[0])
        .modal-dialog
          .modal-content
            .modal-body
              .row
                .col.col-6.col-lg-4
                  img(src=student.img+'2.jpg')
                  h4= student.name
                .col.col-6.col-lg-8
                  blockquote= student.bio
                  .bottom-line
                    button.close(type='button',data-dismiss='modal',aria-label='Close')
                      span(aria-hidden='true')= 'x'